# Framework Base
fastapi
uvicorn
pydantic
pydantic-settings
python-dotenv

# IA y Orquestación
langgraph
langchain-google-genai

# Base de Datos (Persistencia)
sqlalchemy
psycopg2-binary

# Procesamiento de Documentos (Hojas de Vida)
pypdf
python-docx
python-multipart